################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Fandom-copy/v17
/Fandom_copy/.vs
/.vs
/Fandom_copy/Fandom_copy/.vs
